<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <p>Nama Lengkap  : <b th:text="${nama}"/></b>
        <p>Tanggal Lahir : <b th:text="${tgl}"/></b>
        <p>Foto :</p><img Foto      : th:src="${image}"
                         width="200"
                         height="200">
    </body>
</html>
