<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TUGAS IDCARD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <center><div id="header" style="border: 5px solid; margin: 10 auto; padding: 10; text-align: center; width: 400px; height: 80px; background-color: tomato" >
            <h2 style="text-align: center">ID Card Anda!</h2></center>
        </div>
        <center><div id="header" style="border: 5px solid; margin: 10 auto; padding: 10; text-align: center; background-color: tomato; width: 400px; height: 500px;" >
        <p>Nama Lengkap  : <b th:text="${nama}"/></b>
        <p>Tanggal Lahir : <b th:text="${tgl}"/></b>
        <p>Foto :</p><img Foto      : th:src="${image}"
                         width="200"
                         height="200"></center>
        </div>
    </body>
</html>
